<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Sudoku</title>
    <script>
        const csrfToken = "{{ csrf_token }}";
    </script>
</head>
<body>
    {% if state %}
        <h1>You have joined the battle!</h1>
    {% else %}
        <h1>New game!</h1>
    {% endif %}

    <div class="container"></div>
    <div id="controls">
        {% if not state %}
            <button type="button" class="btn primary" data-action="newGame">New Game</button>
            <button type="button" class="btn primary" data-action="solve">Solve</button>
            <button type="button" class="btn primary" data-action="validate">Validate</button>
        {% endif %}
    </div>
    {% if state %}
        <script>
            var initialState = JSON.parse('{{ state | escapejs | safe }}');
        </script>
    {% endif %}
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>